#!/bin/bash

# --                                                            # {{{1
#
# File        : etc/git-post-update-hook.sample
# Maintainer  : Felix C. Stegerman <flx@obfusk.net>
# Date        : 2012-08-09
#
# Copyright   : Copyright (C) 2012  Felix C. Stegerman
# Licence     : GPLv2
#
# --                                                            # }}}1

# TODO: check before sudo ???

exec sudo -u nap nap-update "$PWD" maybe

# --

# vim: set tw=70 sw=2 sts=2 et fdm=marker :
