#!/bin/bash

# --                                                            # {{{1
#
# File        : git-post-update-hook.sample
# Maintainer  : Felix C. Stegerman <flx@obfusk.net>
# Date        : 2012-08-10
#
# Copyright   : Copyright (C) 2012  Felix C. Stegerman
# Licence     : GPLv2
#
# --                                                            # }}}1

# NB: $GL_USER comes from gitolite; if you don't want to do any user
# checking, just pass e.g. NOBODY instead and use @all in your napps
# file to allow all users.

# TODO: check before sudo ???

exec sudo -H -u nap /__nap/nap/bin/nap-update "$PWD" "$GL_USER" maybe

# --

# vim: set tw=70 sw=2 sts=2 et fdm=marker :
