# === Paths ===

     NAP_DIR=/__nap/nap
NAP_APPS_DIR=/__nap/apps
 NAP_CFG_DIR=/__nap/cfg
 NAP_LOG_DIR=/__nap/log

  NAPPS_FILE="$NAP_CFG_DIR"/napps

    NAP_LIBS=( "$NAP_DIR"/lib )


# === Defaults ===

# Set these to change the default commands.

    NAP_D_CLJ_CMD=
 NAP_D_CLJ_DEPCMD=

   NAP_D_RUBY_CMD=
NAP_D_RUBY_DEPCMD=


# --
